#calendar-div{
    width: 100%;
    background: rgba(30, 61, 70, 0.4);
    border-radius: 16px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    backdrop-filter: blur(6px);
}

#calendar-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#calendar-header #calendar-nav{
    display: flex;
}

#calendar-header #calendar-nav span{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    width: 30px;
    margin: 0px 1px;
    cursor: pointer;
    user-select: none;
    color: white;
    font-size: 20px;
}

#calendar-nav span:hover{
    background: rgba(30, 61, 70, 1);
    border-radius: 50%;
    transform: scale(1.1);
}